@tailwind base;
@tailwind components;
@tailwind utilities;

/* Other */
html {
  scroll-behavior: smooth;
}

/* Width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #121212;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #FFFFFF33;
  width: 10px;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #FFFFFF4D;
}

/* Fonts */
@font-face {
  font-family: 'Manolo Mono';
  src: url('assets/ManoloMono.woff2') format('woff2'),
       url('assets/ManoloMono.woff') format('woff'),
       url('assets/ManoloMono.ttf') format('truetype');

  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap');

.title {
  font-family: 'Manolo Mono', sans-serif;
  letter-spacing: 0.5rem;
}

.text {
  font-family: 'DM Sans', sans-serif;
}

/* Animation */
@keyframes fadein {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.fadein {
  animation: fadein 2s;
}

.fadeinslow {
  animation: fadein 3s;
}

@keyframes fadedown {
  0% {
      opacity: 0;
      transform: translateY(-15%);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

.fadedown {
  animation: fadedown 2s;
}