@tailwind base;
@tailwind components;
@tailwind utilities;

/* Other */
html {
  scroll-behavior: smooth;
}

/* Fonts */
@font-face {
  font-family: 'Manolo Mono';
  src: url('assets/ManoloMono.woff2') format('woff2'),
       url('assets/ManoloMono.woff') format('woff'),
       url('assets/ManoloMono.ttf') format('truetype');

  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap');

.title {
  font-family: 'Manolo Mono', sans-serif;
  letter-spacing: 0.5rem;
}

.text {
  font-family: 'DM Sans', sans-serif;
}

/* Animation */
@keyframes fadein {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.fadein {
  animation: fadein 2s;
}

.fadeinslow {
  animation: fadein 3s;
}